html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Poppins";
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1.5;
  font-family: "Poppins";
  background-color: #f2f2f2;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.clearfix::before,
.clearfix::after {
  content: "";
  clear: both;
  display: block;
}
/* Start styling */

/* header-area start */
header.header-area {
  background: #f5f5f5;
  padding: 5px 15px;
  border-bottom: 1px solid #1f9df9;
  position: fixed;
  width: 100%;
  z-index: 99999999999;
}

.logo-area {
  width: 30%;
  float: left;
}

.logo-area a {
  display: block;
  max-width: 50px;
  /* vertical-align: middle !important; */
}

.logo-area a img {
  max-width: 100%;
}

.assignment-area {
  text-align: right;
  width: 70%;
  float: left;
}

.ass-btn a {
  display: inline-block;
  background: #1f9df9;
  padding: 9px 40px;
  color: #fff;
  font-size: 18px;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 700;
  border-radius: 32px;
}

.row {
  display: flex;
  align-items: center;
}
/* header-area end */

/* sidebar start  start */

.class-item {
  width: 300px;
  border-right: 1px solid #1f9df9;
  position: fixed;
  left: 0;
  top: 68px;
  overflow: visible;
  z-index: 9999999;
  transition: 0.3s;
}
::-webkit-scrollbar {
  width: 6px;
  background: #fff;
}
::-webkit-scrollbar-thumb {
  background: #1f9df9;
}
.class-accordian {
  border-right: 1px solid #1f9df9;
  height: calc(100vh - 68px);
  overflow: auto;
}

div#mobile-menu-icon {
  position: absolute;
  right: -41px;
  top: 15px;
  width: 40px;
  height: 40px;
  z-index: 999;
  background: #1f9df9;
  padding: 6px;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
}
/* sidebar start  end */

.accordion-item {
  background: rgb(255, 255, 255);
  /* border-bottom: 1px solid rgb(204, 204, 204); */
  position: relative;
}
div#classModule {
  border: 1px solid rgb(204, 204, 204);
}
.accordion-header {
  padding: 20px 15px;
  background: #efefef;
}
.accordion-item:last-child {
  border: 0px;
}
.accordion-body {
  padding: 10px 25px;
  display: none;
}
.accordion-body.show {
  padding: 10px 15px;
  display: block;
}

.accordion-body > a {
  display: block;
  text-decoration: none;
  color: #333;
  padding: 7px 0 7px 20px;
  position: relative;
}
.accordion-body a.play {
  color: #1f9df9;
}
.accordion-body a span {
  display: none;
}
.accordion-body > a::before {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  background: transparent;
  border-radius: 50%;
  top: 18px;
  left: 0px;
  border: 2px solid rgb(31, 157, 249);
  transform: translateY(-50%);
}

.accordion-item i {
  position: absolute;
  right: 15px;
  top: 32px;
  background: rgb(141, 141, 156);
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  color: rgb(255, 255, 255);
  border-radius: 50%;
  transition: all 0.3s ease 0s;
  transform: translateY(-50%);
}
.class-content {
  max-width: 700px;
  margin: 0px auto;
}
.accordion-item h2 {
  cursor: pointer;
  border-bottom: 1px solid #e3e3e3;
  font-weight: 600;
  color: #8d8d8d;
}
.accordion-item.active h2 {
  color: rgb(31, 157, 249) !important;
}
.accordion-item.active i {
  background: rgb(31, 157, 249);
  transform: rotate(180deg);
}
.accordion-item.active i {
  top: 22px;
}

/* main style */
main.main-content {
  width: calc(100% - 300px);
  height: calc(100vh - 68px);
  background: #f2f2f2;
  margin-left: 300px;
  position: relative;
  transition: 0.3s;
  padding-top: 68px;
}
.backDrop {
  /* content: ""; */
  position: absolute;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  background: rgb(0 0 0 / 60%);
  z-index: 99;
  transition: 0.3s;
}

main.main-content iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

main.main-content .row {
  align-items: center;
  justify-content: center;
  padding: 20px 70px;
}

div#class-video {
  width: 100%;
  /* height: calc(100vh - 108px); */
  position: relative;
  aspect-ratio: 16 / 9;
}

.ytp-pause-overlay.ytp-scroll-min {
  display: none !important;
}
.ytp-pause-overlay.ytp-scroll-min {
  display: none !important;
}
.coming-soon {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 9;
  background: #1f9df9;
  display: none;
}

.coming-text {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.coming-soon h3 {
  color: #fff;
  font-weight: 600;
  font-size: 50px;
}

/* Mobile menu */

.download {
  text-align: center;
  margin: 15px 0px 5px 0;
}

.download a {
  display: inline-block;
  min-width: 100px;
  background: #ffffff;
  padding: 5px;
  border-radius: 39px;
  box-shadow: 0 0 8px #919191;
}

.download a img {
  vertical-align: middle;
  max-width: 32px;
}
